 <script th:src="@{/resources/front/js/jquery.min.js}"></script>
    <script th:src="@{/resources/front/js/bootstrap.js}"></script>
    <script th:src="@{/resources/front/js/jquery-ui-1.8.23.custom.min.js}"></script>

    <!-- morris charts -->
    <script th:src="@{/resources/front/js/morris/morris.js}"></script>
    <script th:src="@{/resources/front/js/morris/raphael-min.js}"></script>

    <!-- Flot charts -->
    <script th:src="@{/resources/front/js/flot/jquery.flot.js}"></script>
    <script th:src="@{/resources/front/js/flot/jquery.flot.resize.min.js}"></script>

    <!-- Calendar Js -->
    <script th:src="@{/resources/front/js/fullcalendar.js}"></script>

    <!-- Tiny Scrollbar JS -->
    <script th:src="@{/resources/front/js/tiny-scrollbar.js}"></script>

    <!-- custom Js -->
    <script th:src="@{/resources/front/js/custom-index.js}"></script>
    <script th:src="@{/resources/front/js/custom.js}"></script>
